
SpartaTextRPG2/.vs/SpartaTextRPG2/FileContentIndex/c924b1ad-4209-4f90-86b7-4b02cf131b32.vsidx
SpartaTextRPG2/SpartaTextRPG2/obj/Debug/net6.0/SpartaTextRPG2.GeneratedMSBuildEditorConfig.editorconfig
SpartaTextRPG2/SpartaTextRPG2/obj/Debug/net6.0/SpartaTextRPG2.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
